# Database
DATABASE_URL=

# Auth
JWT_SECRET=

# AI APIs
GROQ_API_KEY=
GOOGLE_API_KEY=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
S3_PRESIGNED_URL_EXPIRY=

# Redis
REDIS_URL=